/*p */
/*{*/
/*    font-size: 40px;*/

/*img*/
/*{*/
/*    width: 200px;*/
/*}*/

h1
{
    text-align: center;
}

.carouselExampleControls
{
 margin: auto;
}

body{
  background-color: #F8F0E3;
  }


